.services {
    background: #222;
    padding: 30px 20px;
    display: flex;
}

.service-object {
    text-align: center;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 350px;
    min-height: 450px;
    padding: 20px
}

.services button {
    background: transparent;
    text-decoration: underline;
    margin-top: 20px;
    border: 0;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.service-object h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.service-object-wrapper {
    margin: 20px;
    display: flex;
}

@media (max-width: 768px) {
    .service-object {
            width: 300px;
        }
}