.hero {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    padding: 0 80px;
    z-index: 2;
    max-width: 700px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
    background: white;
}

.swiper-pagination-bullet {
    background: white !important;
}

.swiper-pagination-bullet-active {
    color: white !important;
}


.hero-image {
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 550px;
    width: 100vw;
}

.hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .hero-content {
        padding: 0 20px;
    }

    .hero p {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 10px 20px;
    }
}