/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    z-index: 5;
}

.logo {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;
}

.logo-name {
    animation: fadeInFadeOut 3s infinite;
}


.logo img {
    max-width: 50px;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-links a:hover {
    font-weight: bold;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
}

@media (max-width: 1024px) {
    .nav-links {
        flex-direction: column;
        background: white;
        position: fixed;
        top: 60px;
        transition: all .3s ease-in-out;
        transform: translateX(100%);
        right: 0;
        width: 250px;
        height: 100vh;
        text-align: right;
        padding: 10px;
    }

    .nav-links.open {
        display: flex;
        z-index: 10;
        align-items: center;
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
    }
}


@keyframes fadeInFadeOut {
    
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}