.footer {
    background: #222;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 10px;
}

.footer-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: white
}

.footer-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    max-width: 500px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
   font-size: 25px;
}


.footer-bottom {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}